.nav-link:hover {
    color: #DCE5E2;
}

.intro-btn:hover {
    background-color: black;
    color: #DCE5E2;
    box-shadow: 0px 0px 15px 1px black;
}

.sales-explore:hover {
    background-color: black;
    color: #DCE5E2;
    box-shadow: 0px 0px 15px 1px black;
}

.dropdown-li:hover {
    background-color: black;
}

.dropdown-li:hover .dropdown-link {
    color: white;
}

.category-laptop:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
}

.category-laptop:hover .laptop-img {
    margin-left: 120px;
}

.category-laptop:hover .laptop-title {
    transform: translateX(-500px);
}

.category-laptop:hover .laptop-text {
    transform: translateX(-375px);
}

.category-watch:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
    transform: translateY(-22px);
}

.category-watch:hover .watch-img {
    transform: translateX(200px);
}

.category-watch:hover .watch-title {
    transform: translateX(-450px);
}

.category-watch:hover .watch-text {
    transform: translateX(-450px);
}

.category-table:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
}

.category-table:hover .table-img {
    transform: translateY(-110px);
}

.category-table:hover .table-title {
    transform: translateY(450px);
}

.category-table:hover .table-text {
    transform: translateY(450px);
}

.category-phone:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
}

.category-phone:hover .phone-img {
    transform: translateY(110px);
}

.category-phone:hover .phone-title {
    transform: translateY(-450px);
}

.category-phone:hover .phone-text {
    transform: translateY(-450px);
}

.technic:hover {
    box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
    border: 2px solid black;
    transform: scale(1.1);
    cursor: pointer;
    background-color: white;
}

.search-product:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}