@media (max-width: 600px) {
    .container {
        width: 600px;
    }

    .nav {
        width: 600px;
        position: fixed;
        background-color: white;
        margin-top: -145px;
        z-index: 5;
    }

    .nav-list {
        display: none;
    }

    .nav-logo {
        margin-left: 25px;
    }

    .intro-mobile {
        display: block;
        margin-top: 100px;
    }

    .mobile-intro-title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        line-height: 70px;
        color: var(--danger-black);
        height: 140px;
        padding-top: 50px;
    }

    .mobile-intro-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--danger-black);
        margin-top: 19px;
        width: 450px;
        margin-left: 55px;
        text-align: center;
    }

    .mobile-intro-box {
        width: 550px;
        background-size: cover;
        background-position: center;
        display: block;
        height: 877px;
        margin-left: 25px;
        background: var(--light-gray);
        border-radius: 32px;
    }

    .mobile-intro-row {
        width: 550px;
        margin-left: 0px;
        margin-top: 145px;
    }

    .mobile-intro-background {
        margin-top: 54px;
    }

    .mobile-intro-btn {
        margin-left: 190px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: var(--danger-black);
        height: 50px;
        width: 170px;
        border-radius: 200px;
        background-color: var(--light-gray);
        margin-top: 40px;
        transition: all 0.3s;
        border: 2px solid black;
    }

    .burger-btn {
        display: block;
    }

    .nav-search {
        display: none;
    }

    .nav-cart {
        display: none;
    }

    .category-box {
        margin-left: 25px;
        display: block;
    }

    .category-laptop {
        margin-left: 0px;
        width: 550px;
    }

    .category-watch {
        margin-left: 0px;
        width: 550px;
    }

    .watch-img {
        margin-left: 0px;
        width: 350px;
    }

    .category-list {
        margin-top: 80px;
    }

    .category-phone {
        width: 267px;
        margin-left: 0px;
    }

    .category-table {
        width: 267px;
    }

    .phone-img {
        width: 267px;
    }

    .table-img {
        width: 267px;
    }

    .products-box {
        width: 550px;
        display: block;
        flex-wrap: wrap;
        margin-left: 25px;
    }

    .technic {
        margin-top: 25px;
        margin-left: 105px;
    }

    .sales-row {
        display: block;
        flex-wrap: wrap;
    }

    .sales_title {
        padding-top: 20px;
    }

    .sales-box {
        width: 550px;
        margin-left: 25px;
    }

    .sales-explore {
        margin-left: 180px;
    }

    .sales-watch {
        margin-left: 145px;
    }

    .sales-apple {
        margin-left: 130px;
    }

    .burger-box {
        animation: 1s burger-show;
    }

    @keyframes burger-show {
        from {
            opacity: 0;
            transform: translateX(600px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .inactive-burger {
        animation: 1s burger-close;
        position: absolute;
        display: none;
        width: 600px;
        background-color: white;
        height: 190px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 80px;
        transform: translateX(600px);
    }

    .inactive-burger ul {
        margin-left: 25px;
        margin-top: 20px;
    }
    
    .inactive-burger ul li {
        margin-top: 20px;
    }
    
    .inactive-burger ul li a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
    }

    @keyframes burger-close {
        0% {
            opacity: 1;
            transform: translateX(0px);
            display: block;
        }
        75% {
            opacity: 0;
            transform: translateX(600px);
        }
        100% {
            display: none;
        }
    }

    .sales-laptop {
        margin-left: 100px;
    }

    .ideas-row {
        display: block;
        flex-wrap: wrap;
    }

    .idea-book {
        width: 600px;
    }

    .ideas-sentence {
        font-size: 22px;
        margin-left: 25px;
    }

    .search-input {
        width: 550px;
        margin: 25px;
    }

    .search-input input {
        border-radius: 100px;
    }

    .search-row {
        width: 550px;
        margin-left: 25px;
    }

    .search-low {
        width: 450px;
        margin-left: 75px;
    }

    .search-ad {
        width: 550px;
        margin-left: 25px;
    }

    .s-ad-box {
        margin-left: 75px;
    }

    .s-ad-img {
        margin-left: 165px;
    }

    .s-ad-text {
        margin-left: 75px;
        width: 400px;
    }

    .footer {
        background-color: white;
    }

    .footer-row {
        width: 600px;
        display: block;
        flex-wrap: wrap;
    }

    .footer-box {
        margin-left: 25px;
    }

    .footer-links {
        margin-left: 25px;
    }

    .links-1 {
        margin-top: 19px;
    }

    .f-low-title {
        width: 250px;
    }

    .f-low-text {
        margin-left: 0px;
        width: 250px;
    }

    .search-logo {
        height: 29px;
        width: 30px;
    }

    .intro-background {
        margin-left: 25px;
        width: 550px;
        margin-left: 0px;
    }

    .intro-phone {
        width: 550px;
        margin-left: 0px;
    }

    /*New  Version 17 */

    .category-laptop:hover {
        box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
    }

    .category-laptop:hover .laptop-img {
        margin-left: 50px;
    }

    .category-laptop:hover .laptop-title {
        transform: translateX(-425px);
    }

    .category-laptop:hover .laptop-text {
        transform: translateX(-300px);
    }

    .category-watch:hover {
        box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
        transform: translateY(-22px);
    }

    .category-watch:hover .watch-img {
        transform: translateX(180px);
    }

    .category-watch:hover .watch-title {
        transform: translateX(-400px);
    }

    .category-watch:hover .watch-text {
        transform: translateX(-400px);
    }

    .category-table:hover {
        box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
    }

    .category-table:hover .table-img {
        transform: translateY(-110px);
    }

    .category-table:hover .table-title {
        transform: translateY(410px);
    }

    .category-table:hover .table-text {
        transform: translateY(410px);
    }

    .category-phone:hover {
        box-shadow: 0px 4px 35px rgb(0 0 0 / 75%);
    }

    .category-phone:hover .phone-img {
        transform: translateY(110px);
    }

    .category-phone:hover .phone-title {
        transform: translateY(-410px);
    }

    .category-phone:hover .phone-text {
        transform: translateY(-410px);
    }

    .no-mobile {
        display: none;
    }
}